<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

<!--  Content  -->
<article>

  <div class="centered-content">
      
      <div id="jumbotron">
        <div class="column-left">
          <h2>{{thisGame.player1.name}} </h2>
          <h3>Health: {{thisGame.player1.health}}</h3>
        </div>
        <div class="column-right">
          <h2>{{thisGame.player2.name}}</h2>
          <h3>Health:{{thisGame.player2.health}}</h3>
        </div>
      </div>
      
      <div id="instructions">
        Make your move {{thisGame.turn}}
      </div>
      
      <div class="column-left">
        <h3>Cards:</h3>
        <p>
          {{#each thisGame.player1.deck}}
            Name: {{this.name}}<br/>
          {{/each}}
        </p>
      </div>

      <div class="column-center">
        <h2>Battleground</h2>
        <div id="player-1-cards">
          hello
        </div>
        <div id="player-2-cards">
          hi!
        </div>
      </div>

      <div class="column-right">
        <h3>Cards:</h3>
        <p>
          {{#each thisGame.player2.deck}}
            Name: {{this.name}}<br/>
          {{/each}}
        </p>
      </div>

  </div>

</article>
